main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container{
    display: flex;
    align-items: center;
    background-color: rgb(247, 238, 227);
    
}
.container ul{
    width: 70%;
    justify-content: space-between;
    display: flex;
    list-style: none;
    font-size: 30px;
    margin-left: 150px;   
}

.iimmgg{
    margin: 20px;
}
.heading{
    margin: 0;
    font-size: 20px;
}

.firstparagraph{
   padding: 200px;
    font-size: 70px;
}

.paragraph{
    width: 425px;
height: 180px;
top: 267px;
left: 210px;
font-family: Basis Grotesque Pro;
font-size: 57px;
font-weight: 700;
line-height: 59px;
letter-spacing: 0.01em;
text-align: left;


}

.paragraphname{
    width: 94px;
height: 24px;
top: 213px;
left: 210px;
opacity: 0.8999999761581421px;
font-family: Basis Grotesque Pro;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: -0.03em;
text-align: left;
color: blue;
}

.podparagraph{
    width: 353px;
height: 24px;
top: 517px;
left: 210px;
opacity: 0.6000000238418579px;
font-family: Basis Grotesque Pro;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.03em;
text-align: left;
color: gray;

}

.FORPARTNERS{
    margin-top: 572px;
   background-color: blue;
    width: 104%;
    height: 90px;
   color: aliceblue;
border: 1px solid #00000026

}

.invest{
    margin-left: 0;

    width: 105%;
    height: 90px;
    color: blue;
}

.Secondparagraph{
    padding: 200px;
    font-size: 70px;
}

.paragraphnamedva{
    width: 85px;
height: 24px;
top: 931px;
left: 210px;
opacity: 0.8999999761581421px;
font-family: Basis Grotesque Pro;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: -0.03em;
text-align: left;
color: blue;
}

.paragraphdva{
    width: 477px;
height: 84px;
top: 985px;
left: 210px;
font-family: Basis Grotesque Pro;
font-size: 50px;
font-weight: 700;
line-height: 42px;
letter-spacing: -0.03em;
text-align: left;
}

.podparagraphdva{
    margin-top: 100px;
    width: 205px;
height: 24px;
top: 1139px;
left: 210px;
font-family: Basis Grotesque Pro;
font-size: 35px;

font-weight: 700;
line-height: 24px;
letter-spacing: -0.03em;
text-align: left;

}

.form{
    padding: 200px;
    font-size: 30px;
}

.pricewrapper{
    margin-top: 30px;
}

.tiempo{
    margin-top: 30px;
}

.name{
    margin-top: 30px;
}

.knopi{
    padding: 10px;
    padding-left: 17px;
    padding-right: 17px;
    background-color: blue;
    color: aliceblue;
}